/* dark-mode.css */
body {
    background-color: #1e1e1e;
    /* ciemnoszary / prawie czarny */
    color: #ffffff;
    /* biały tekst */
    text-align: center;
    /* wyrównanie tekstu do środka */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    /* pełna wysokość widoku */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* wyśrodkowanie w pionie */
    align-items: center;
    /* wyśrodkowanie w poziomie */
}

* {
    box-sizing: border-box;
}